@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model RenderingModel
@if (Model != null && Model.PageItem != null)
{
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">@Html.Sitecore().Field("Car Title", Model.PageItem)</h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">                    
                    @Html.Sitecore().Field("Image", Model.PageItem, new {@class= "w-75 mb-4" } )
                    <p>
                        @Html.Sitecore().Field("Body", Model.PageItem)
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-headset text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">@Html.Sitecore().Field("Rental Support", Model.PageItem)</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-car text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">@Html.Sitecore().Field("Car Reservation", Model.PageItem)</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">@Html.Sitecore().Field("Pickup Locations", Model.PageItem)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
}